.smallerCells table div.input, .smallerCells table select.value {
	width: 75px !important;
}

.smallerCells table input.value {
	width: 75px !important;
}

table div.output {
	width: auto !important;
}


div.group table tr.repeat-header label.label {
	width: auto !important;
}

.smallerCells span.mediatype-text-html {
	margin-left: 0;
}

table td {
	vertical-align: top;
	padding: 3px 7px;
}

table tr.repeat-header td {
	vertical-align: bottom;
}

div.group table td input, td select, td textarea, td label {
	margin: 0 !important;
	margin-right: 0 !important;
}

table tr.repeat-header label span {
	margin: 0 !important;
}

table div.textarea textarea {
	width: 290px !important;
}

div.slideContent {
	width: 732px;
	overflow: auto;
}

.group {
	width: 732px;
}

div.gatherInformation div.select > span {
	float: none;
	width: auto;
	color: #a00;
	font-weight: bold;	
}